<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script type="text/javascript" src="components/p5.js/lib/p5.js"></script>
    <script type="text/javascript" src="components/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="javascripts/sketch.js"></script>

    </script>
  </body>
</html>
